<?xml version="1.0" encoding="utf-8"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DatabaseProvider" value="System.Data.SqlClient" />
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=LinkManager;Integrated Security=True" />
    <add key="DatabaseProviderUserManagement" value="System.Data.SqlClient" />
    <add key="ConnectionStringUserManagement" value="Data Source=.\SQLEXPRESS;Initial Catalog=LinkManager;Integrated Security=True" />
    <add key="ConnectionStringVData" value="Provider=mrOleDB.Provider.2;Persist Security Info=False;User ID=;Data Source={1};Location={0};Extended Properties=;Initial Catalog={0};Mode=ReadWrite;MR Init MDSC={1};MR Init MDSC Access=2;MR Init MDM Version=;MR Init MDM Language=;MR Init MDM Context=;MR Init MDM Label Type=;MR Init MDM Access=0;MR Init MDM DataSource Use=0;MR Init MDM Version Variable=False;MR Init Category Names=1;MR Init Category Values=0;MR Init Allow Dirty=False;MR Init Validation=True;MR Init Input Locale=0;MR Init Output Locale=0;MR Init Project=;MR Init Custom=;MR Init MDM Document=;MR Init Overwrite=0;MR Init Native Schema=False;MR Init Merge Data Elements=False" />
    <add key="FileStorageRoot" value="C:\Projects\Cognicient\LinkManager SVN\LinkManager\Clients\LinkOnline\LinkOnline\Fileadmin\{0}" />
    <add key="DatabaseChangeLogDirectory" value="C:\Projects\Cognicient\LinkManager SVN\LinkManager\Clients\LinkOnline\LinkOnline\Fileadmin\DatabaseChangeLogs" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>