<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="Protocol" value="http" />

    <add key="ServerOfflineNotificationReciepent" value="konstantin.m@blueoceanmi.com" />

    <add key="MailFrom" value="admin@linkmr.com" />
    <add key="MailBCC" value="" />
    <add key="MailSmtpHost" value="smtpout.secureserver.net" />
    <add key="MailSmtpUsername" value="admin@linkmr.com" />
    <add key="MailSmtpPassword" value="Welcome123%" />
    <add key="MailSmtpSSL" value="False" />
    <add key="MailUseCredentialCache" value="False" />
  </appSettings>
  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Default.aspx"/>
      <error statusCode="403" redirect="Default.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="2147483647" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="WebResource.axd"/>
      <remove name="ScriptResource.axd"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <httpCompression directory="Temporary">
      <dynamicTypes>
        <add mimeType="text/" enabled="true" />
        <add mimeType="message/" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Arr-Disable-Session-Affinity" value="True"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <remove statusCode="403"/>
      <error statusCode="404" path="/Default.aspx" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Default.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>